.addShowView{
    display: flex;
    width: 100%;
    height: 100vh;


    &__content{

        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }

    &__header{
        display: flex;
        padding-left: 10px;
    }

    &__form{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .el-main{
        background-color: #00549A;
        width: 50%;
        border-radius: 10px;
        display: grid;
        padding: 50px;
    }

    .el-form{
        // padding: 50px;
        // padding-left: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .el-form-item{
        padding-bottom: 10px;
    }

    .el-form-item__content{
        display: flex;
        justify-content: space-between;
        width: 30%;
    }

    .el-form-item__label-wrap{
        padding-bottom: 5px;
    }

    .el-form-item__label{
        font-size: 15px;
        font-weight: 600;
    }

    .el-input__inner{
        border-width: 0;
        border-radius: 5px;
        height: 30px;
        
    }

    .el-input__inner:focus{
        outline: none;
    }

    .el-textarea__inner{
        border-width: 0;
        border-radius: 5px;
        height: 100px;
        width: 300px;
    }

    .el-textarea__inner:focus{
        outline: none;
    }

    .el-button{
        background-color: white;
        border-width: 0;
        border-radius: 8px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        // display: flex;
    }

    .el-button:hover{
        color: #00549A;
    }

    // This id is for image url input
    #el-id-4161-20{
        width: 300px;
    }

    // This id is for description input
    // #el-id-4161-21{
    //     width: 500px;
    //     height: 140px;
    // }

    // #el-id-4161-21::placeholder{
    //     font-size: 20px;
    //     padding-bottom: 20px;
    // }
}