.dashboard{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    justify-items: center;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-left: 450px;
    padding-top: 300px;

    &__shows__button{
        display: grid;
        padding: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        border-radius: 8px;
        border-width: 0;
        background-color: #F7A208;
        cursor: pointer;

        svg{
            width: 60px;
            height: 60px;
        }
    }

    &__genre__button{
        display: grid;
        padding: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        border-radius: 8px;
        border-width: 0;
        background-color: #F7A208;
        cursor: pointer;

        svg{
            width: 60px;
            height: 60px;
        }
    }

    &__country__button{
        display: grid;
        padding: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        border-radius: 8px;
        border-width: 0;
        background-color: #F7A208;
        cursor: pointer;

        svg{
            width: 60px;
            height: 60px;
        }
    }
    
}