.el-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-left: 195px;
}
.el-card{
    background-color: #F7A208;
    width: 300px;
    padding: 30px;
    justify-content: center;
    border-radius: 10px;
}