.navbar{
    background-color: #00549A;
    display: flex;
    width: 15%;
    height: 100vh;


    &__container{
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__pageName{
        padding-right: 200px;
    }

    &__menu-button{
        width: 50px;
        height: 50px;
        padding-top: 15px;
        padding-right: 5px;
        background-color: #F7A208;
        border-width: 0;
        cursor: pointer;
    
        }
    &__menu-button:focus{
        outline: none;
    }
    
}


.el-dropdown-menu {
    cursor: pointer;
    display: block;
    background-color: #F7A208;
    padding: 15px;
    padding-left: 15px;
    list-style: none;
}

.el-dropdown-menu__item{
    padding: 5px;
}

.el-dropdown-menu__item:focus{
    outline: none;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    color: gray;
}
