.navbar{
    background-color: #F7A208;
    display: flex;
    justify-content: space-between;
    width: 100%;


    &__pageName{
        padding-right: 150px;
    }

    &__menu-button{
        width: 50px;
        height: 50px;
        padding-top: 10px;
        padding-right: 5px;
    
        }
}