
.search{
    display: flex;
    // padding: 80px;
    align-items: center;
    justify-content: flex-end;
    padding-left: 900px;
    padding-top: 10px;
    width: 27vw;

}
.search-bar{
    display: block;
    background-color: #00549A;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 25vw;
    border-radius: 5px;

    &__container{
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        border-radius: 10px;
    }

    &__input{
        display: flex;
        width: 90%;
        height: 30px;
        border: 0;
        padding-left: 10px;
        font-size: large;
        
    }

    &__input:focus{
        outline: none;
    }

    &__icon{
        padding-left: 5px;
        width: 30px;
    }

    &__button-container{
       padding-right: 10px;
    }

    &__button{
        display: grid;
        padding: 5px;
        border-radius: 8px;
        border-width: 0;
        background-color: #00549A;
        cursor: pointer;
        color: white;
    }
}